<<<<<<< HEAD
h1, h2 {
    margin: 10px 0;
    color:$keycolor;
    font-weight:$fontRegular;
=======
html{
    font-size: 62.5%;
}

h1{
    color: rgb(107, 135, 191);
}

body{
    background-image: url(../background/background_edificios);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

p{
    color: $basecolor;
    font-weight: 300;
    font-size: 2rem;
    line-height: 2.1rem;
    text-align: center
}

h1, h2 {
    margin: 10px 0;
    color: black;
    font-weight: 400;
>>>>>>> nueva-rama
    font-style: italic;
    text-align: center;
}

<<<<<<< HEAD
  
.container-form {
                width: 100%;
                max-width: 1100px;
                margin: 50px;
                display: grid;
                grid-template-columns: repeat(2,1fr);
                grid-gap: 50px;
                margin-top: 90px;
}       

.container-form h2 { 
                    margin-bottom: 15px;
                    font-size:$textLg;
                    
} 


.container-form p { 
                   display: flex;
                   font-size: 17px;
                   line-height: 1.6;
                   margin-bottom: 30px;
}

.container-form form .campo, textarea{ 
                             
      width: 40%; 
      padding: 10px 10px;
      font-size: 15px;
      border: 1px solid $secondarycolor;
      margin-bottom: 20px;
      border-radius: 3px;
      outline: 0px;
      display: flex;
}

.container-form form textarea{
                            
                max-width: 530px;
                min-width: 530px;
                min-height: 146px;
                max-height: 150px;

}

.container-form  .btn-send{
                     padding: 15px;
                     font-size: 16px;
                     border: none;
                     
                     outline: 0px;
                     background-color: rgb(209, 207, 207);
                     color: white;
                     cursor: pointer;
                     transition: all 300ms ease;

}

.container-form  .btn-send:hover{
     
               background-color:$basecolor;
         
}

p{
    color: $secondarycolor;
    font-size: 1.4em;
    line-height: 1.8em;
    padding: 0 20px;
    font-weight: $fontLight;
}

label{
     color:$maincolor;
}


footer{
    padding: 10px 30px;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    background-color:$basecolor;

    a{
        text-decoration: none;
    }
    svg{
             margin-right: 10px;
            width: 30px;
            fill: white
    }
    ul{ 
        list-style: none;
        li{
            a{
                text-decoration: none;
                font-size: 1.2rem;
                color: white;
            }
        }
    }

}

=======
.box-top{   
    text-align:center;
    padding: 6px 0;
    background-color: aliceblue;
    font-size: 1.6rem;
    color: grey;
}

.text-center{
    text-align: center;
}

.container-form {
    width: 100%;
    max-width: 1100px;
    margin: 50px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 50px;
    margin-top: 90px;
}

h2 { 
    margin-bottom: 15px;
    font-size: 35px;
}  

p{ 
    display:flex;
    font-size: 17px;
    line-height: 1.6;
    margin-bottom: 30px;
}  

.campo, textarea{                 
    width: 40%; 
    padding: 10px 10px;
    font-size: 15px;
    border: 1px solid grey;
    margin-bottom: 20px;
    border-radius: 3px;
    outline: 0px;
    display: flex;
    max-width: 530px;
    min-width: 530px;
    min-height: 146px;
    max-height: 150px;
}

.btn-send{
    padding: 15px;
    font-size: 16px;
    border: none;
    outline: 0px;
    background-color: rgb(209, 207, 207);
    color: white;
    cursor: pointer;
    transition: all 300ms ease;
}

.btn-send:hover{
    background-color: #8C783B;
}
       
.tienda {
    display: grid;
    grid-template-columns: 20% repeat(2, 1fr);
    grid-template-rows: 80px repeat(3, 300px);
    gap: 5px;
    grid-template-areas:
      "actions actions actions"
      "filters uno uno"
      "filters dos tres"
      "filters cuatro cinco"
      "filters seis seis";
    
    .actions {
      padding: 0 30px;
      grid-area: actions;
    }
    
    .filters {
      grid-area: filters;
    }
    
    .prop1 {
      grid-area: uno;
      display: flex;
      flex-direction: row;
      align-items: center;
      
      p {
        width: 50%;
        margin-left: 50px;
      }
    }
    
    .prop2 {
      grid-area: dos;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      flex-direction: row-reverse;
      
      p {
        width: 50%;
        margin-top: auto;
        padding-right: 20px;
      }
    }
    
    .prop3 {
      grid-area: tres;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
    
    .prop4 {
      grid-area: cuatro;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
    
    .prop5 {
      grid-area: cinco;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
    
    .prop6 {
      grid-area: seis;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
  }
  
  #tienda-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 20vh);
    grid-template-areas:
      "one"
      "two"
      "tree"
      "four"
      "five";
    
    .one {
      background-color:$maincolor;
      grid-area: one;
    }
    
    .two {
      background-color:$maincolor;
      grid-area: two;
    }
    
    .tree {
      background-color:$maincolor;
      grid-area: tree;
    }
    
    .four {
      background-color:$maincolor;
      grid-area: four;
    }
    
    .five {
      background-color:$maincolor;
      grid-area: five;
    }
    
    .six {
      background-color:$maincolor;
      grid-area: six;
    }
  }

  .filters {
    padding: 0 20px 30px;
  
    a {
      color: rgb(173, 173, 252);
      font-size: 1.3em;
      text-decoration: none;
      margin-bottom: 4px;
      text-transform: lowercase;
  
      &:hover {
        color: #8C783B;
      }
    }
  
    span {
      display: block;
      color: black;
      margin: 10px 0;
      letter-spacing: 1px;
    }
  
    select {
      color: black;
      border: none;
      background-color: white;
      margin-bottom: 10px;
      font-size: 1.4em;
    }
  
    li {
      padding-left: 10px;
      list-style: none;
    }
  }

  .actions {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  
    button {
      margin-left: 10px;
      background-color: #8C783B;
      color: white;
      padding: 6px;
      border: none;
      border-radius: 3px;
    }
  
    input {
      padding: 6px;
      border-radius: 3px;
      border: none;
      background-color: white;
    }
  }
  
  .about {
    padding: 10px 0;
  
    &-box {
      display: flex;
      flex-direction: row;
      align-items: center;
    }
  
    &-img-reverse {
      display: flex;
      flex-direction: row-reverse;
      align-items: flex-start;
      height: 40%;
      width: 60%;
      margin: 6em;
      border: 6em;
    }
  }

  .actions {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  
    button {
      margin-left: 10px;
      background-color: #8C783B;
      color: white;
      padding: 6px;
      border: none;
      border-radius: 3px;
    }
  
    input {
      padding: 6px;
      border-radius: 3px;
      border: none;
      background-color: white;
    }
  }
  
  .about {
    padding: 10px 0;
  
    &_box {
      display: flex;
      flex-direction: row;
      align-items: center;
    }
  
    &_img-reverse {
      display: flex;
      flex-direction: row-reverse;
      align-items: flex-start;
      height: 40%;
      width: 60%;
      margin: 6em;
      border: 6em;
    }
  
    &_header-center {
      text-align: center;
      margin: 6em;
      padding-left: 20em;
    }
  
    &_text-md-centro {
      font-size: 1.8em;
      margin: 3em;
      border: 3em;
    }
  
    .contacme-left {
      text-align: center;
      margin: 10px 0;
      padding-left: 60px;
    }
  
    &_img-reverse:hover {
      border: #8C783B 2px;
      cursor: pointer;
    }
  
    .one::first-letter {
      color: black;
    }
  }
  
  










>>>>>>> nueva-rama

