.btn-gral{
    padding: 10px;
    border: none;
    justify-content: center;
    align-items: center;
    font-size: 1.1em;
    color:$keycolor;
}

.main-conteiner{
        width: 100%;
        padding: 20px 50px;
        overflow-x: auto; 
}