nav{
<<<<<<< HEAD
    display:flex auto;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position:sticky 
    top:0;
    left: 25px;
    width:100%;
    background-color: rgb(107, 135, 191);
    padding:10px 20px;
    height: 10px;
   
    img{
        width: 200px;
=======
    height: auto;
    padding: 10px 30px;
    background-color:$maincolor;
    width:100%;
    left: 0;
    top:0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    
    img{
        width: 350px;
>>>>>>> nueva-rama
    }
    ul{
        display: flex;
        list-style: none;
<<<<<<< HEAD
       li{
        margin-right: 10px;
        font-size: 2rem;
       }
          a{
            color:$keycolor;
            text-decoration: none;
            font-family: 'Roboto', sans-serif;
            font-weight: 400;
           }
           :hover{ 
                color:$keycolor;
                text-decoration: underline;
                cursor: pointer;
           }
    }
}

.botonera{
    background-color: $maincolor;
    ul{
        li{
            margin-left: 5px;
            a{
                color:$basecolor 2px;
                font-size: $textMd;
                &:hover{
                    color:$secondarycolor;
                }

=======
        li{
            margin-right: 10px;
            font-size: 2rem;
            a{
               color: $basecolor;
               text-decoration: none;
               font-family: 'Roboto', sans-serif;
               font-weight: 400;  
               &:hover{
                     color:$basecolor;
                     text-decoration: underline;
                     cursor: pointer;
               }
            }
          }
       }
}

//footer
footer{
    padding: 10px 30px;
    display:flex;
    justify-content:space-between; 
    align-items: center;
    background-color:$keycolor;

    a{
      text-decoration: none;
    }
    svg{
        margin-right: 10px;
        width: 30px;
        fill: white;
    }

    ul{
        list-style: none;
        li{
            a{
                text-decoration: none;
                font-size: 1.2rem;
                color: white;
>>>>>>> nueva-rama
            }
        }
    }
}

<<<<<<< HEAD

                .about{ 
                    padding: 10px 0;
                    box{
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                        }
                        &_img-reverse{
                                display: flex;
                                flex-direction: row-reverse;
                                align-items: flex-start;
                                height: 40% ;
                                width: 60%; 
                                margin: 6em;
                                border: 6em           
                        } 

                            &_img-reverse:hover{
                                        border: #8C783B 2px;
                                        cursor: pointer;
                                }

                        &_heading-center{
                                    text-align: center;
                                    margin: 6 em ;
                                    padding-left: 20em;  
                        }
                        
                        &_text-md-centro{
                                    font-size: 1.8em;
                                    margin:1em;
                                    border:3em;
                        } 

                    } 
                            .contacme-left{
                                text-align: center;
                                margin: 10px 0;
                                padding-left: 60px;
                            }

                            .one::first-letter{
                                color: black;
                }
=======
//container
.container {
    flex-direction: row;
    flex-wrap: wrap;
    display: grid;
    justify-content: space-between;
    padding: 20px 40px;
}

.container figure { 
    width: 500px;
    border-radius: 250px ;
    margin: 30px 0;
}

.container figure figcaption{
    color: #8C783B;
    margin-bottom: 10px;
    font-size: 2.2rem;
}

.container figure button{
    background-color: #8C783B;
    color: white;
    border: none;
    padding: 6px;
    border-radius: 4px;
    margin-top: 20px;
}
>>>>>>> nueva-rama
